*{
    margin : 0px;
    padding : 0px;
}
#wrap{
    width: 600px;
    height: 600px;
    background: red;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    /* padding: 200px 200px; */
}

#mask{
    width: 200px;
    height: 200px;
    background: yellow;
    position: relative;
    /* overflow: hidden; */
    line-height: 200px;
}

#box{
    position: absolute;
}