*{
    margin : 0px;
    padding : 0px;
}
#wrap{
    width: 600px;
    height: 600px;
    background: green;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    /* padding: 200px 200px; */
}

#mask{
    width: 200px;
    height: 200px;
    background: yellow;
    position: absolute;
    overflow: hidden;
    left: 200px;
    top: 200px;
    line-height: 200px;
}

#box{
    width: 600px;
    height: 600px;
    background: blue;
    position: relative;
}