#wrap{
    width: 700px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    border: 5px solid;
}

.thumb{
    width: 150px;
    height: 100%;
    float: left;
    /* border : 2px solid;
    box-sizing: border-box; */
    overflow: scroll;
}

.thumb img{
    width: 150px;
    height: 100px;
    float: left;
}

.detail{
    width: 550px;
    height: 100%;
    float: left;
}

.detail img{
    width: 550px;
    height: 100%;
    float: left;
}