.wrap{
    width: 700px;
    height: 600px;
    position: relative;
    margin: auto;
    border: 2px solid red;
    overflow: scroll;
}

.regist-area{
    width: 200px;
    height: 100%;
    background: #dfdfdf;
    position: absolute;
    left: 0px;
}

#result-area{
    width: 500px;
    height: 100%;
    position: absolute;
    left: 200px;
}

input[type='text'], input[type='password']{
    padding :6px;
    margin: 5px 5px;
}

button{
    margin : 0px 5px 0px 5px;
    width : 80px;
    padding: 6px;
}