body{margin : 0;}
.wrapper{
    width: 1200px;
    height: 700px;
    background: yellow;
    overflow: hidden;
}

#content{
    width: 1000px;
    height: 100%;
    background: url(https://image.freepik.com/free-vector/scene-with-roller-coaster-track-field_1308-38332.jpg);
    background-size: 1000px 100%;
    float: left;
    position: relative;
}

#info{
    width: 200px;
    height: 100%;
    /* background-color: #cccccc; */
    float: left;
}