.wrapper {
    width: 1200px;
    height: 700px;
    background: yellow;
    margin: auto;
    overflow: hidden;
}

.dash {
    width: 200px;
    height: 100%;
    background: gold;
    float: left;
    text-align: center;
}

.dash button,
select,
input {
    width: 90%;
    height: 40px;
    margin-bottom: 4px;
    font-size: 24px;
}

#hpBox {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 50px;
    padding: 3px;
    box-sizing: border-box;
}

#scoreBox {
    width: 100%;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#stage {
    width: 1000px;
    height: 100%;
    background: dodgerblue;
    float: left;
    position: relative;
}

#stage span {
    color: white;
    font-weight: bold;
    font-size: 16px;
}